<div class="container-fluid">

  <div class="col titulo">
    <h2>Bienvenido {{data?.nombre}}, {{data?.apellido}}</h2>
  </div>

  <div class="col">
      
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYF81fOstMkFelXDO8QAzNN6DXyH8k3GUEOPez87WryryiuOFGZR3vryUpoYRyjW3q__g&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">GATITO BONITO</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>

